/* Slider */
.slick-slider { position: relative; display: block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track { position: relative; top: 0; left: 0; display: block; }
.slick-track:before, .slick-track:after { display: table; content: ''; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
[dir='rtl'] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden { display: none; }
/* Slider */
.slick-arrow{font-weight:700; text-transform:uppercase; color:#fff; background:#d33300; padding:8px 15px; border:0; font-size:12px; line-height:20px; z-index:9; position:absolute; right:-15px; top:40px; box-shadow:-5px 5px 20px rgba(0,0,0,0.25);}
.slick-prev{top:auto; left:-15px; right:auto; bottom:40px; box-shadow:5px 5px 20px rgba(0,0,0,0.25);}
/* Arrows 
.slick-prev, .slick-next { z-index:99; font-size: 0; line-height: 0; position: absolute; top: 100%; display: block; width: 40px; height: 40px; padding: 0; cursor: pointer; color: transparent; border: none; outline: none; background: transparent; margin:25px 0 0; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { color: transparent; outline: none; background: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: .25; }
.slick-prev:before, .slick-next:before { font-family: 'fontAwesome'; font-size: 20px; line-height: 1; opacity: 1; color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; width: 40px; height: 40px;background: #00b22d; float: left; text-align:center; line-height:40px;  transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -ms-transition: all 0.3s ease-in; box-shadow:0px 3px 0px rgba(0,0,0,0.1);}
.slick-prev:before{border-radius:30px 0 0 30px;}
.slick-next:before{border-radius:0 30px 30px 0;}
.slick-prev:hover:before, .slick-next:hover:before{background:#444;}
.slick-prev { left: 50%; margin-left:-40px; }
[dir='rtl'] .slick-prev { right: 10px; left: auto; }
.slick-prev:before { content: "\f053"; }
[dir='rtl'] .slick-prev:before { content: "\f053"; }
.slick-next { right: 50%; margin-right:-40px; }
[dir='rtl'] .slick-next { right: auto; left: 10px; }
.slick-next:before { content: "\f054"; }
[dir='rtl'] .slick-next:before { content: "\f054"; }
/* Dots */
.slick-slider { margin-bottom:0;}
.slick-dots { position: absolute; bottom: -40px; display: block; width: 100%; padding: 0; list-style: none; text-align: center; }
.slick-dots li { position: relative; display: inline-block; width: 20px; height: 20px; margin: 0 0px; padding: 0; cursor: pointer; }
.slick-dots li button { font-size: 0; line-height: 0; display: block; width: 20px; height: 20px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: transparent; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { font-family: "Ionicons"; font-size: 10px; line-height: 20px; position: absolute; top: 0; left: 0; width: 16px; height: 20px; content: "\f3a7"; text-align: center; opacity: .25; color: #d33300; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: 1; color: #d33300; }
